@import "tailwindcss";

@theme {
  --font-sans: "Pretendar", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-russo-one: "Russo One", ui-sans-serif, system-ui, sans-serif;
  --font-orbit: "Orbit", ui-sans-serif, system-ui, sans-serif;
}